/**
 * ResourcesPanel
 * ==============
 *
 *
 */

.ResourcesPanel {
	text-align: center;
	font-size: 18px;

	// &__Improvements {
	// 	margin-bottom: 20px;
	// }

	&__Button {
		padding: 10px;
		font-size: 18px;

		color: #FFF;
		background-color: #7C7CE6;
		outline: none;
		border: none;
		cursor: pointer;

		&:active {
			background-color: #3D3D6C;
		}
	}
}
